@model IEnumerable<Hotel>
@{
    ViewData["Title"] = "Админ панель";
}
<div class="text-center">
    <h3>Таблицы</h3>
    <div style="display:flex;justify-content:center">
        <a href="~/Hotel/GetAdmin">Отели</a>
        <a href="~/Employee/GetAdmin" style="margin-left:50px">Сотрудники</a>
        <a style="margin-left:50px">Номера</a>
    </div>
</div>
