@model IEnumerable<Hotel>
@{
    ViewData["Title"] = "Админ панель";
}
<div class="text-center">
    <div style="display:flex;justify-content:center">
        <a href="~/Hotel/GetAdmin">Отели</a>
        <a href="~/Employee/GetAdmin" style="margin-left:50px">Сотрудники</a>
        <a href="~/Room/GetAdmin" style="margin-left:50px">Номера</a>
        <a href="~/Category/GetAdmin" style="margin-left:50px">Категории номеров</a>
        <a href="~/Specialization/GetAdmin" style="margin-left:50px">Специализации сотрудников</a>
        <a asp-controller="Role" asp-action="GetAdmin" style="margin-left:50px">Роли</a>
        <a asp-controller="User" asp-action="GetAdmin" style="margin-left:50px">Пользователи</a>
    </div>
</div>
