@{
    ViewData["Title"] = $"Создание категории";
}
<div>
    <h3>Форма для добавления новой категории</h3>

    <form method="post">
        <div class="form-group">
            <label for="exampleInputName1">Наименование категории</label>
            <input class="form-control" name="Name" type="text" placeholder="Введите наименование категории">
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>

</div>
