@model IEnumerable<Room>
@{
    ViewData["Title"] = "Управление номерами";
}
<div class="text-center">
    <a href="~/Admin/Index">Назад</a>
    <h3>Номера</h3>
    <table class="table">
        <tr>
            <th>Идентификатор номера</th>
            <th>Отель номера</th>
            <th>Категория номера</th>
            <th>Номер</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        @if (Model != null)
        {
            @foreach (var room in Model)
            {
                <tr>
                    <td>@room.Id</td>
                    <td>@room.Hotel.Name</td>
                    <td>@room.Category.Name</td>
                    <td>@room.Number</td>
                    <td><a href="~/Room/Edit/@room.Id">Изменить</a></td>
                    <td><a href="~/Room/ConfirmDelete/@room.Id">Удалить</a></td>
                </tr>
            }
        }

    </table>
    <a href="~/Room/AddWithoutHotel/">Добавить номер</a>
</div>
