@model IEnumerable<Hotel>
@{
    ViewData["Title"] = "Главная";
}
<div class="text-center">
    <h3>Отели</h3>
    <table>
        @if (Model != null)
        {
            @foreach (var hotel in Model)
            {
                <tr>
                    <td>
                        <div style="background-color:#1C1C1C;width:20px;height:20px;border-radius:15px" />
                    </td>
                    <td align="left">
                        @hotel.Name
                    </td>
                    <td><a href="~/Hotel/Get/@hotel.Id">Перейти</a></td>
                </tr>
            }
        }
    </table>
</div>
